/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* Основной цвет фона #E5E5E5 */
/* Вторичный цвет фона #2F303A */
/* Акценты #2196F3 */
/* Белый #ffffff */
/* Цвет фона кнопки #F5F4FA */
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-bg-color: #f5f4fa;
  --white: #ffffff;
  --black: #000000;
  --icons-color:#afb1b8;
  
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  color: var(--main-text-color);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
ul li a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
}
.link,
.street,
.logo,
address {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  justify-content: center;
}

.logo {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.blue-logo {
  color: var(--accent-color);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__list {
  margin-left: 90px;
}
.header-nav__item {
  margin-right: 50px;
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav__link {
  display: block;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.header-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__item {
  margin-right: 30px;
}

.header-contacts__link {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--accent-color);
}
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}
.header-contacts__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .header .link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .mail, .phone {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* Главный блок */
.section.hero {
  background-color: var(--secondary-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  ),
  url("../image/backgrounds/optimiz/bghero.jpg");
  }
.hero-title {
  color: var(--white);
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
min-width: 200px;
max-width: 350px;
padding: 10px 32px;
font-family: Roboto, sans-serif;
font-weight: 700;
font-size: var(--font-size-medium);
line-height: 1.875;
letter-spacing: 0.06em;
color: var(--white);
cursor: pointer;
background-color: var(--accent-color);
border: none;
border-radius: 4px;
}
.hero-button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}
/* Особенности */
.section {
  color: var(--main-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.peculiarities-list {
  display: flex;
}
.peculiarities-list .item {
  width: 270px;
}
.section .item:not(:last-child) {
  margin-right: 30px;
}
.section .item {
position: relative;
}
.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
}
.section-team .item {
  display: flex;
  flex-direction: column;
  flex-basis: 270px;
  justify-content: flex-end;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}

.section .title {
  margin-bottom: 10px;
}
.section.todo {
  padding-top: 0;
}
.worklist {
position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.worklist-project {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.list {
  display: flex;
}

.peculiarities-list .title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.peculiarities-list .paragraphly {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section.team {
  background-color: var(--btn-bg-color);
}
.section-team {
  display: flex;
}
.item .box {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team .box {
  padding: 30px;
  background-color: var(--white);
}
.section-team .member {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team .profesion {
  margin-top: 10px;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .button-item:not(:last-child) {
  margin-right: 10px;
}
.portfolio .title {
  display: none;
}
.btn {
  padding: 6px 22px;
  background-color: var(--btn-bg-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list .item:nth-last-child(3n + 1) {
  margin-right: 0;
}
.project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--white);
}
.project-list .project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list .project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-type {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.team-socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-item:last-child {
  margin-right: 0;
}

.team-socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.team-socials-item:hover,
.team-socials-item:focus {
  background-color: var(--accent-color);
}

.team-socials-svg {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-item:hover .team-socials-svg,
.team-socials-item:focus .team-socials-svg {
  fill: var(--white);
}
.client-list {
  display: flex;
}
.client-logo {
  fill:var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  cursor: pointer;
}
.client-item:last-child {
  margin-right: 0;
}
.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:hover,
.client-item:focus {
  border-color: var(--accent-color);
}
.client-item:hover .client-logo,
.client-item:focus  .client-logo {
    fill: var(--accent-color);
}
/* Подвал сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--white);
  background-color: var(--secondary-bg-color);
  /* width: 1600px;
  height: 252px; */
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .address-list {
  margin-top: 20px;
}
.footer .item:not(:first-child) {
  margin-top: 9px;
}
.footer .logo {
  color: var(--white);
}
.address-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}
.address-wrap {
  margin-right: 70px;
}
.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.team-socials {
  display: flex;
  justify-content: center;
}
.team-socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.team-socials-item:last-child {
  margin-right: 0;
}
.footer .team-socials-svg {
  fill: var(--white);
}
.portfolio .link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .link:focus, .portfolio .link:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
}
.portfolio-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 58px 27px 68px 27px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio.item:focus .portfolio-overlay,
.portfolio.item:hover .portfolio-overlay {
    top: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 1200px;
  /* outline: 2px solid aquamarine; */
}

/* placeholder */

.subscription-form {
  padding-top: 12px;
  margin-left: auto;

}

.subscription-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.subscription-wrap {
  display: flex;
  align-items: center;
}
.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.subscription-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-button span {
  margin-right: 10px;
}

/* modal windows */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms 250ms;
}

.modal-body {
  position: relative;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
/* .modal-button:focus,
.modal-button:hover {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.modal-button:focus .modal-close,
.modal-button:hover .modal-close{
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.form-order-box {
  margin-bottom: 10px;
}

.form-order-box:last-of-type {
  margin-bottom: 20px;
}
.box-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.box-wrap {
  position: relative;
}

.box-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--black);
}
.box-input:focus, 
.box-message:focus {
    border-color: var(--accent-color);
    outline: var(--accent-color);
}
.box-input:focus + .box-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-message {
  width: 100%;
  max-height: 120px;
  padding: 12px 16px;
  resize: none;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline cubic-bezier(0.4, 0, 0.2, 1) 250ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.terms-icon  {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  vertical-align: middle;
  border: 1px solid  var(--black);
  border-radius: 2px;
}
.terms-text {
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.checkbox-terms {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.terms-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.terms-input:checked + .terms-icon {
  background-color: var(--accent-color);
  background-image: url(../image/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.terms-link {
  color: var(--accent-color);
}
.send-button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}